@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --crust: #11111b;
    --mantle: #181825;
    --base: #1e1e2e;
    --surface0: #313244;
    --surface1: #45475a;
    --text: #cdd6f4;
    --rosewater: #f5e0dc;
    --flamingo: #f2cdcd;
    --pink: #f5c2e7;
    --mauve: #c6a0f6;
    --red: #f38ba8;
    --maroon: #eba0ac;
    --peach: #fab387;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --teal: #94e2d5;
    --sky: #89dceb;
    --sapphire: #74c7ec;
    --blue: #89b4fa;
    --lavender: #b4befe;
  }
  .theme-latte {
    --crust: #dce0e8;
    --mantle: #e6e9ef;
    --base: #eff1f5;
    --surface0: #ccd0da;
    --surface1: #bcc0cc;
    --text: #4c4f69;
    --rosewater: #dc8a78;
    --flamingo: #dd7878;
    --pink: #ea76cb;
    --mauve: #8839ef;
    --red: #d20f39;
    --maroon: #e64553;
    --peach: #fe640b;
    --yellow: #df8e1d;
    --green: #40a02b;
    --teal: #179299;
    --sky: #04a5e5;
    --sapphire: #209fb5;
    --blue: #1e66f5;
    --lavender: #7287fd;
  }
  .theme-frappe {
    --crust: #232634;
    --mantle: #292c3c;
    --base: #303446;
    --surface0: #414559;
    --surface1: #51576d;
    --text: #c6d0f5;
    --rosewater: #f2d5cf;
    --flamingo: #eebebe;
    --pink: #f4b8e4;
    --mauve: #ca9ee6;
    --red: #e78284;
    --maroon: #ea999c;
    --peach: #ef9f76;
    --yellow: #e5c890;
    --green: #a6d189;
    --teal: #81c8be;
    --sky: #99d1db;
    --sapphire: #85c1dc;
    --blue: #8caaee;
    --lavender: #babbf1;
  }
  .theme-macchiato {
    --crust: #181926;
    --mantle: #1e2030;
    --base: #24273a;
    --surface0: #363a4f;
    --surface1: #494d64;
    --text: #cad3f5;
    --rosewater: #f4dbd6;
    --flamingo: #f0c6c6;
    --pink: #f5bde6;
    --mauve: #c6a0f6;
    --red: #ed8796;
    --maroon: #ee99a0;
    --peach: #f5a97f;
    --yellow: #eed49f;
    --green: #a6da95;
    --teal: #8bd5ca;
    --sky: #91d7e3;
    --sapphire: #7dc4e4;
    --blue: #8aadf4;
    --lavender: #b7bdf8;
  }
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: theme("colors.skin.base");
  border-radius: 9999px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
  border-radius: 9999px;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider-rosewater::-webkit-slider-thumb{
  background: theme("colors.skin.rosewater");
}

.slider-flamingo::-webkit-slider-thumb{
  background: theme("colors.skin.flamingo");
}

.slider-pink::-webkit-slider-thumb{
  background: theme("colors.skin.pink");
}

.slider-mauve::-webkit-slider-thumb{
  background: theme("colors.skin.mauve");
}

.slider-red::-webkit-slider-thumb{
  background: theme("colors.skin.red");
}

.slider-maroon::-webkit-slider-thumb{
  background: theme("colors.skin.maroon");
}

.slider-peach::-webkit-slider-thumb{
  background: theme("colors.skin.peach");
}

.slider-yellow::-webkit-slider-thumb{
  background: theme("colors.skin.yellow");
}

.slider-green::-webkit-slider-thumb{
  background: theme("colors.skin.green");
}

.slider-teal::-webkit-slider-thumb{
  background: theme("colors.skin.teal");
}

.slider-sky::-webkit-slider-thumb{
  background: theme("colors.skin.sky");
}

.slider-sapphire::-webkit-slider-thumb{
  background: theme("colors.skin.sapphire");
}

.slider-blue::-webkit-slider-thumb{
  background: theme("colors.skin.blue");
}

.slider-lavender::-webkit-slider-thumb{
  background: theme("colors.skin.lavender");
}