[Desktop Entry]
Name=Catppuccinifier
Exec=/home/lighttigerxiv/.local/bin/catppuccinifier-gui
Icon=/home/lighttigerxiv/.local/share/icons/hicolor/512x512/apps/catppuccinifier.png
Type=Application